.wrap {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    .title_box {
        padding: 50px 0;

        .title {
            font-size: 30px;
            font-family: 'Pretendard';
            font-weight: 900;
            text-transform: uppercase;
        }
    }
}